ul,li,form{background-color: whitesmoke;
display: inline;
word-spacing: 3px;
font-size: 21px;
padding-left: 2px;
margin-right: 15px;
background: fixed;
color: whitesmoke;
text-decoration-line: underline;
}
